body, html{
    font-size: 12px;
}

div.project_header {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5px;
}
#project_name {
    color: #002f6c;
    font-weight: bold;
}
#project_seperator {
    color: #999;
}
#project_phase {
    color: #00a3e0;
}

div.data_content{
    grid-template-columns: 80% auto;
}

div.thumbnail_img{
    text-align: center;
    margin: auto
}
#info_panel{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: #999 1px solid;
    box-shadow: 3px 3px 2px #999;
    height: 90%;
    margin: 0 30px;
    padding: 10px;
    display: none;
}
.dimension_name{
    font-size: 16px;
    font-weight: bold;
}
#info_panel p{
    font-size: 11px;
}
.header{
    display: flex;
}
.instructions{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0 auto;
    padding-left: 50px;
    padding-top: 20px;
    display: none;

}

div.project_grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 30% 30% 30%;
}

.project_card {
    margin: 10px auto;
    border: 1px #999 solid;
    box-shadow: 3px 3px 2px #999;
    padding: 10px;
    width: 250px;
    height: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project_card_image{
    text-align: center;
    height:200px;
}

.project_card_name{
    font-size: 16px;
    font-weight: bold;
}

.project_card_phase{
    font-size: 14px;
    font-weight: bold;
    color: #00a3e0;
}